<h1> All Flights </h1>


<% @airlines.each do |airline| %>
  <h2><%= airline.name %></h2>
    <% airline.flights.each_with_index do |flight, index| %>
    <div id="<%= flight.number %>" >
      <h3>Flight Number: <%= flight.number %></h3>
      <% flight.passengers.each do |passenger| %>
        <ul>
          <li>Passenger name: <%= passenger.name %></li>
        </ul>
     <% end  %>
  <% end %>
<% end %>






  