<h1> All Flights </h1>



  <% @flights.each do |flight| %>
    <h2><%= flight.number %> - <%= flight.airline.name %> <br/>

    <h3>
      <% flight.passengers.each do |passenger| %>
        <%= passenger.name %></br>
      <% end %>
    </h3>
  <% end %>
