<% @flights.each_with_index do |flight, index| %> 
  <section id= "flights-<%= flight.id %>">
    <%= flight.id %>
    <%= flight.airline.name %>
    <% flight.passengers.each do |passenger| %>
      <%= passenger.name %>
    <% end %>
  </section>
<% end %>