<h1><%= @airline.name %> Show Page</h1>

<h3>Adult Passengers</h3>
<div id = "passengers">
<ol>
<% Airline.get_uniq_passengers(@airline).pluck(:name).uniq.each do |passenger| %>
    <li><%= passenger %> </li>
    <% end %>
    </ol>

</div>