<h1><%= @airline.name %> Show Page</h1>

<h3>Adult Passengers</h3>
<div id = "passengers">
<ol>
<% Airline.get_uniq_passengers(@airline).each do |passenger| %>
    <li><%= passenger.name %> </li>
    <% end %>
    </ol>

</div>