<h1><%= @airline.name %></h1>
<div class="all_passengers">
  <% @airline.adult_passengers_by_frequent.each_with_index do |pssngr, idx| %>
  <div class="passenger<%=idx%>">
    <li><%= pssngr.name %>
  </div>
  <% end %>
</div>
